<!DOCTYPE html>
<html lang="es">

  <head>
    <link rel="stylesheet" type="text/css" href="/leaderboard.css" />
    <%- include('_head') -%>
  </head>
<body>
  <%- include('panel/header') -%>
  <div id="section-leaderboard" class="container leaderPlayerList">
    <h1>Lista de usuarios</h1>
    <% usuarios.map((usuario, index) => {%>
    <div>
      <div class="leaderPlayer">
        <div
          class="leaderRank <%= usuarios.findIndex(u => u[0] === usuario[0])+1 === 1 ? 'leaderFirstRank' : usuarios.findIndex(u => u[0] === usuario[0])+1 === 2 ? 'leaderSecondRank' : usuarios.findIndex(u => u[0] === usuario[0])+1 === 3 ? 'leaderThirdRank' : null  %>">
          <%= usuarios.findIndex(u => u[0] === usuario[0])+1 %> </div>
        <div class="leaderAvatar"><img
            src="<%= bot.users.resolve(usuario[0]).displayAvatarURL({ format:'png', dynamic: true }) %>"
            alt="<%= bot.users.resolve(usuario[0]).username %>"></div>
        <div class="leaderUsername"><%= bot.users.resolve(usuario[0]).username %></div>
      </div>
      <div class="leaderLine"></div>
    </div>
    <% })%>
  </div>
</body>

</html>