<nav class="navbar navbar-expand-lg color-gris-web shadow-lg">
  <a class="navbar-brand">
    <img class="Server-select responsive-img" src="<%=guild.iconURL({dynamic:true})%>" alt="<%=guild.name%>">
    <b><%= guild.name%></b></a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item"><button class="nav-links btn font-weight-bolder" id="opciones">Opciones</button></li>
      <li class="nav-item"><button class="nav-links btn font-weight-bolder" id="datos">Estadisticas</button></li>
      <li class="nav-item"><button class="nav-links btn font-weight-bolder" id="leaderboard">Leaderboard</button></li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav font-weight-bolder mover-right">
<% if(login === 'si') { %>
      <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">        
    <img class="circle responsive-img" src="<%= client.users.resolve(user.id).displayAvatarURL({dynamic: true}) %>" width="30" height="30" style="border: 10px; border-radius: 150px;" alt="<%=user.name%>">
<%= textLogin %></a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
  <a class="dropdown-item" href="/logout">Salir</a>
  </div>
</li>
<% } else { %>
  <li class="nav-item">
  <a class="nav-links" href="/signin">Login</a>
    </li>
<% } %>
    </ul>
  </div>
</nav>