<div id="section-opciones" class="container"> 
  <br>
  <h2 class="h2-perfil"><b>Prefix del servidor</b></h2>
  <form class="col s12 needs-validation" method="post" action="/dashboard/<%=guild.id%>/prefix" novalidate>
    <div class="form-row">
      <div class="form-group row">
<div class="input-group mb-2">
  <i class="material-icons right">info_outline</i>
  <input id="icon_prefix" type="text" name="newPrefix" class="form-control" placeholder="Prefix Actual: <%= prefix.prefix %>" aria-label="Prefix" aria-describedby="button-addon2">
</div>
      <div class="input-field col s12">
        <button class="btn btn-secondary waves-effect waves-light" type="submit" id="prefixSave" name="action">Guardar
          <i class="material-icons right">send</i>
        </button>
      </div>
        </div>
      </div>
  </form>
  <h2 class="h2-perfil"><b>Bienvenida</b></h2>
  <form class="col s12" method="post" id="enviar_Welcome" action="/dashboard/<%=guild.id%>/welcome">
    <div class="row">
      <div class="input-field col s6">
        <div class="form-row">
          <div class="form-group">
            <select id="select-channel" name="channel_ID" class="custom-select">
              <option value="no_select" disabled selected>Seleccione un canal.</option> 
              <% guild.channels.cache.filter(ch => ch.type === 'text').filter(p => p.permissionsFor(bot.user).has('SEND_MESSAGES')).map(lc => {%>
              <option value="<%=lc.id %>">#<%=lc.name%></option>
              <% }); %>
            </select>
            <button class="btn btn-secondary waves-effect waves-light" type="submit" id="btn_Enviar" name="action">Guardar
              <i class="material-icons right">done</i>
            </button>
            <% if(opciones.has(`${guild.id}.channels.welcome`)) { %>
            <button class="btn btn-danger waves-effect waves-light" type="submit" id="btn_Remover" name="action">Reestablecer
              <i class="material-icons right">clear</i>
            </button>
              <% } %>
          </div>
        </div>
      </div>
    </div>
  </form>
  <h2 class="h2-perfil"><b>Despedida</b></h2>
  <form class="col s12" method="post" id="enviar_Goodbye" action="/dashboard/<%=guild.id%>/goodbye">
    <div class="row">
      <div class="input-field col s6">
        <div class="form-row">
          <div class="form-group">
            <select id="select-channel" name="channelID" class="custom-select">
              <option value="no_select" disabled selected>Seleccione un canal.</option> 
              <% guild.channels.cache.filter(ch => ch.type === 'text').filter(p => p.permissionsFor(bot.user).has('SEND_MESSAGES')).map(lc => {%>
              <option value="<%=lc.id %>">#<%=lc.name%></option>
              <% }); %>
            </select>
            <button class="btn btn-secondary waves-effect waves-light" type="submit" id="btn_Enviar" name="action">Guardar
              <i class="material-icons right">done</i>
            </button>
            <% if(opciones.has(`${guild.id}.channels.goodbye`)) { %>
            <button class="btn btn-danger waves-effect waves-light" type="submit" id="btn_Remover" name="action">Reestablecer
              <i class="material-icons right">clear</i>
            </button>
              <% } %>
          </div>
        </div>
      </div>
    </div>
  </form>
<h2 class="h2-perfil"><b>Logs ᴮᴱᵀᴬ</h2></b>
<form class="col s12" method="post" id="logs" action="/dashboard/<%=guild.id%>/logs">
    <div class="row">
      <div class="input-field col s6">
        <div class="form-row">
          <div class="form-group">
            <select id="select-channel" name="logs_ID" class="custom-select">
              <option value="no_select" disabled selected>Seleccione un canal.</option> 
              <% guild.channels.cache.filter(ch => ch.type === 'text').filter(p => p.permissionsFor(bot.user).has('SEND_MESSAGES')).map(lc => {%>
              <option value="<%=lc.id %>">#<%=lc.name%></option>
              <% }); %>
            </select>
            <button class="btn btn-secondary waves-effect waves-light" type="submit" id="btn_Enviar" name="action">Guardar
              <i class="material-icons right">done</i>
            </button>
            <% if(opciones.has(`${guild.id}.channels.logs`)) { %>
            <button class="btn btn-danger waves-effect waves-light" type="submit" id="btn_Remover" name="action">Reestablecer
              <i class="material-icons right">clear</i>
            </button>
              <% } %>
          </div>
        </div>
      </div>
    </div>
</form>
<h2 class="h2-perfil"><b>Selección de un rol autoasignable para los nuevos usuarios</b></h2>
<form class="col s12" method="post" id="add_role" action="/dashboard/<%=guild.id%>/rolauto">
  <div class="row">
    <div class="input-field col s6">
        <div class="form-row">
          <div class="form-group">
      <i class="material-icons prefix">account_circle</i>
      <select id="select-channel" name="rol_ID" class="custom-select"> 
        <option value="no_select" disabled selected>Seleccione un rol.</option> 
        <% guild.roles.cache.map(r => {%>
        <% if(r.comparePositionTo(guild.me.roles.highest) > 0) return; %>
        <option value="<%=r.id %>"><%=r.name%></option>
        <% }); %>
      </select>
      <div class="input-field col s12">
        <button class="btn btn-secondary waves-effect waves-light" type="submit" id="btn_Guardar" name="action">Guardar
          <i class="material-icons right">send</i>
        </button>
        <% if(opciones.has(`${guild.id}.role`)) { %>
        <button class="btn btn-danger waves-effect waves-light" type="submit" id="btn_Remover" name="action">Reestablecer
          <i class="material-icons right">clear</i>
        </button>
        <% } %>
      </div>
    </div>
  </div>
    </div>
  </div>
</form>
<h2 class="h2-perfil"><b>Language</b></h2>
<form class="col s12" method="post" id="logs" action="/dashboard/<%=guild.id%>/lang">
  <div class="row">
    <div class="input-field col s6">
      <div class="form-row">
        <div class="form-group">
          <select id="select-channel" name="language" class="custom-select">
            <option value="no_select" disabled selected>Seleccione un lenguaje.</option> 
            <option value="en">English</option>
            <option value="es">Español</option>
          </select>
          <button class="btn btn-secondary waves-effect waves-light" type="submit" id="btn_Enviar" name="action">Guardar
            <i class="material-icons right">done</i>
          </button>
          <% if(opciones.has(`${guild.id}.channels.logs`)) { %>
          <button class="btn btn-danger waves-effect waves-light" type="submit" id="btn_Remover" name="action">Reestablecer
            <i class="material-icons right">clear</i>
          </button>
            <% } %>
        </div>
      </div>
    </div>
  </div>
</form>
</div>