<!DOCTYPE html>
<html lang="es">
  <head>
<%- include('_head') -%>
  </head>
    <body data-spy="scroll" data-target="#datos">
    <%- include('panel/header') -%>
    <%- include('panel/datos') -%>
    <%- include('panel/opciones') -%>
<!-- Leaderboard -->
<div id="section-leaderboard" class="container">
  <p>
          <div class="col s6">
            <h1>Lista de usuarios</h1>
             <ul class="collection">
<% usuarios.map((usuario, index) => {%>
                <li class="collection-item">
<%= `#${index+1} ${usuario[0]} LVL: ${usuario[1]} XP: ${usuario[2]}/${usuario[1] * 80}` %>
               </li>
            <% })%>
              </ul>
          </div>
  </p>
</div>
<footer>
  <p>⚡ Powered By CentralHost.es</p>
  <img class="responsive-img" src="https://cdn.discordapp.com/attachments/762663409388093470/776288851672563762/350kb.gif">
  </footer>
  </body>
      </html>
<script src="/hidden.js"></script>