<!DOCTYPE html>
<html lang="es">
  <head>
<%- include _head %>
  </head>
    <body data-spy="scroll" data-target="#datos">
    <header>
<%- include panel/header %>
    </header>
<%-  include panel/datos %>
<%- include panel/opciones %>
<!-- Leaderboard -->
<div id="section-leaderboard" class="container">
  <p>
          <div class="col s6">
            <h1>Lista de usuarios</h1>
             <ul class="collection">
<% usuarios.map((usuario, index) => {%>
                <li class="collection-item">
<%= `#${index+1} ${usuario[0]} LVL: ${usuario[1]} XP: ${usuario[2]}/${usuario[1] * 80}` %>
               </li>
            <% })%>
              </ul>
          </div>
  </p>
</div>
  </body>
      </html>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="../../hidden.js"></script>