---
import Navbar from "../components/navbar.astro";
import Header from "../components/_head.astro";
import PanelData from '../components/PanelData.astro';
import PanelOpciones from "../components/PanelOpciones.astro";
import { GuildTextThreadManager } from "discord.js";
const user = Astro.locals.user;
if (!user) return Astro.redirect('/api/signin');
const guilds = user.guilds?.filter(g => (g.permissions & 8) === 8) || [];
const bot = Astro.locals.bot;
const { id } = Astro.params;
const guild = bot?.guilds.cache.get(id) ?? await bot.guilds.fetch(id).catch(() => null);

if (!guild) return Astro.redirect("/error404");
---
<!DOCTYPE html>
<html lang="es">
    <Header title={`Caffe - ${guild.name}`} />
    <Navbar guild={guild} user={user} />
  <body data-spy="scroll" data-target="#data">
    <PanelData guild={guilds[0]} statusCounts={{online:0,idle:0,dnd:0,offline:0}} bans={0} />
    <PanelOpciones guild={guild} />
  </body>
</html>
<script src="/js/hidden.js" is:inline></script>
