---
const { title = Astro.props.title ?? "Caffe - The Discord Bot", favicon = "https://i.imgur.com/RALQsX4.png", url = process.env.PUBLIC_URL } = Astro.props;
import "../public/css/global.css";
---
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{title}</title>
  <link rel="icon" href="/favicon.ico" />
</head>

<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
/>
<meta name="keywords" content="Caffe-Bot" />
<meta property="og:type" content="website" />
<meta name="distribution" content="global" />
<meta name="theme-color" content="#7289da" />
<meta property="og:url" content={url} />
<meta property="og:title" content="Caffe Website"/>
<meta property="og:site_name" content="Caffe" />
<meta property="og:description" content="Dashboard del bot caffe" />
<meta property="og:image" content={favicon} />
<meta
  name="description"
  content='Construye el mejor servidor de Discord con el bot caffe, podrás cambiar el prefix por default, configurar los eventos de registro comúnmente llamados "Logs", establecer el canal de bienvenida, y establecer un rol auto asignable para los nuevos usuarios'
/>
<link
  id="favicon"
  rel="icon"
  type="image/x-icon"
  href={favicon}
/>
<title>{title}</title>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>
<link
  href="https://fonts.googleapis.com/css?family=Quicksand&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
  integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
  crossorigin="anonymous"
/>
<script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
  crossorigin="anonymous"
></script>
<script
  data-ad-client="ca-pub-4110975912924799"
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
></script>
