---
const user = Astro.locals?.user;
const login = Boolean(user);
const avatarURL = user ? `https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}.png` : null;
const textLogin = login ? user.username : "Login";
---

<nav class="navbar">
  <div class="nav-container">
    <a href="/" class="nav-logo">
      <img src="src/public/images/Caffe.png" alt="Caffe Bot Logo" class="nav-logo-img" />
    </a>
    <ul class="nav-menu">
      <li><a href="/discord" target="_blank" class="nav-links">Support Server</a></li>
      <li><a href="/leaderboard" class="nav-links">Leaderboard</a></li>
      <li><a href="/dashboard" class="nav-links">Dashboard</a></li>

      {login ? (
        <li class="nav-item dropdown">
          <button class="nav-links dropdown-toggle">
            <img
              src={avatarURL}
              alt={textLogin}
              width="28"
              height="28"
              style="border-radius: 50%; margin-right: 8px;"
            />
            {textLogin}
          </button>
          <div class="dropdown-menu">
            <a href="/api/logout">Salir</a>
          </div>
        </li>
      ) : (
        <li><a href="/api/signin" class="nav-links">Login</a></li>
      )}
    </ul>
  </div>
</nav>
